<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  <div class="form-group">
    <input
      [ngClass]="{ 'form-group__control--error': email.touched && email.invalid }"
      formControlName="email"
      placeholder="example@mail.com"
      class="form-group__control"
      type="email"
      name="email"
      id="email"
      required
    />
    <label for="email" class="form-group__label">Email</label>
    <span [ngClass]="{ 'form-group__error--active': email.touched && email.invalid }" class="form-group__error">
      Error message
    </span>
  </div>

  <div class="form-group">
    <textarea
      [ngClass]="{ 'form-group__control--error': message.touched && message.invalid }"
      formControlName="message"
      placeholder="Enter your message..."
      class="form-group__control"
      name="message"
      id="message"
      rows="8"
      required
    ></textarea>
    <label for="message" class="form-group__label">Message</label>
    <span [ngClass]="{ 'form-group__error--active': message.touched && message.invalid }" class="form-group__error">
      Error message
    </span>
  </div>

  <button type="submit" [disabled]="!form.valid" class="form__submit">Submit</button>
</form>
